h3#ASSR {
    font-size: 150%;
}

h3#ASSR2 {
    font-size: 125%;
}


@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
    box-sizing: border-box; }
    *::before, *::after {
      box-sizing: border-box; }

.drop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit; }
  .drop  {
    width: 80rem;
    height: auto; }
    .drop  .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: dodgerblue;
      border-radius: 1.625rem; }
       .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; }
        .drop .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none; }
          .drop  .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg); }
    .drop  .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      
    text-indent: 2rem;
    white-space: nowrap;
    /* overflow: hidden; */

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: dodgerblue;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase; }
  .drop:hover .circle {
    width: 100%; }
    .drop:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0); }
  .drop:hover .button-text {
    /* text-indent: 0rem; */
    /* white-space: nowrap; */
    color: #fff;
    }

    #active .circle {
        width: 100%; }
        #active .circle .icon.arrow {
          background: #fff;
          transform: translate(1rem, 0); }
      #active .button-text {
        /* text-indent: 0rem; */
        /* white-space: nowrap; */
        color: #fff;

      }

